@model Library.Web.ViewModel.BookViewModel

@{
    ViewBag.Title = "Детали";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        
        @foreach (var category in Model.Categories)
        {
            <dd>
                @category.Name
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку", "Index")
</p>
